.tags-container{
    display:flex;
    column-gap: 20px;
    font-family: Montserrat;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 25px;
}

.tag{
    background-color: #FF6060;
    width: auto;
    padding: 5px;
    border-radius: 25px;
    color: white;
}

.tag p{
    font-size: 1rem;
    margin:auto;
    padding:2px 10px;
}