.main-logement{
    
    width: 80%;
    margin:auto;
    color:#FF6060;
    @include resTablet {
        width: 90%;

    }
    
    @include resMobile {
        width: 90%;

    }
}

.head-logement{
    margin-top: 40px;
 display:flex;
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: space-between;
 @include resTablet {
    flex-direction: column;

}

@include resMobile {
    flex-direction: column;

}
}

.logement-container .logement__title{
   font-size: 2rem;

}
.logement__location{
    font-size: 1.2rem;
}

.collapses-logement{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 100px;
    flex-wrap: nowrap;
    width:100%;
    @include resTablet {
        column-gap: 50px;
    }
    @include resMobile {
        column-gap: 50px;
        flex-direction: column;
    }
}
.profil-container{
    margin-top: 0;
    width:fit-content;
display:flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-end;
@include resTablet {
    flex-direction: row-reverse;
    justify-content: space-between;
    width:100%;
    align-items: center;

}

@include resMobile {
    flex-direction: row-reverse;
    justify-content: space-between;
    width:100%;
    align-items: center;

}

}

.profil-detail{
    margin:0 0;
    display:flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: center;
}

.profil__name{
    flex:0.5;
    white-space: wrap;
    text-align: end;
    width:fit-content;
    margin: 0 20px 0 0;
    font-size: 1.2rem;
    @include resTablet {
        font-size: 1rem;

    }
    
    @include resMobile {
        font-size: 0.8rem;

    }
}

.profil__photo{
    width:80px;
    border-radius: 50%;
    overflow: hidden;
    @include resTablet {
        width:70px;

    }
    
    @include resMobile {
        width:60px;

    }

}
