.collapse-container {
    flex:1;
    margin : 0 auto;
    position: relative;
    text-align: center;
  }
  
  .collapse-button {
    width: 100% ;
    background-color: #FF6060;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    height:47px;
    text-align: left;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .collapse-displayed{
    min-height: 150px;
    height: auto;
    text-align: left;
    background-color: #F6F6F6;
    font-weight: 400;
    font-size: 24px;
    color:#FF6060;
    border-radius: 0 0 10px 10px;
    padding-left: 20px;
    margin-top: 0;
    padding-top: 20px;
    transition: height ease-in-out 0.3s;
  }

.collapse-displayed li{
  margin:0;
  list-style-type: none;
  font-size: 1rem;
  line-height: 1.5rem;
}

.collapse-displayed p{
  margin:0;
  font-size: 1rem;
  line-height: 1.5rem;
}